---
import '../styles/global.css'
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nurfitra Pujo Santiko</title>
    <meta
      name="description"
      content="Nurfitra Pujo Santiko is software engineer that live in Indonesia. He is passionate about product engineering. He mainly use ruby, javascript and go as his daily arsenal for progamming."
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
  </head>
  <body class="flex flex-col font-body p-5 md:px-30 md:py-20">
    <header>
      <nav class="main-nav flex flex-row items-center mb-10">
        <a class="text-[1.5rem] font-bold tracking-widest mr-10 leading-[36px]">
          NURFITRA PUJO
        </a>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a class="active-link" href="/about">ABOUT</a></li>
          <li>
            <a href="https://blog.nurfitrapujo.com" target="_blank">BLOG</a>
          </li>
        </ul>
      </nav>
    </header>
    <article class="max-w-[90%] md:max-w-[800px]">
      <h1
        class="name font-bold tracking-wide text-[1.125rem] leading-[3rem] max-w-[274px] md:text-[1.125rem] md:leading-[3rem] md:max-w-[548px]"
      >
        About me
      </h1>
      <p>
        Hello, my name is Nurfitra Pujo Santiko. You can call me Fitra / Pujo. I
        am software engineer that lives on Malang, Indonesia, and currently have
        no plans on moving elsewhere. I prefer remote work as much as possible,
        because I work more productive when I am by alone by myself (and
        commuting is such a hassle). My expertise is around web application
        development and I am comfortable working as fullstack engineer. While I
        am comfortable working with Javascript, Ruby and Golang, I am flexible
        and quick to catch up if there is need to learn another language.
      </p>
      <br />
      <p>
        On my free time, I usually play games, read a book, tending my cats and
        fishes, tending my garden, etc. I also enjoy spending my weekend with
        close friends in cafe, play pool, or sports. I love nature and
        adventure, and rather spend my vacation on activities like hiking,
        camping, picnic, or just sight seeing.
      </p>
    </article>
    <Footer />
  </body>
</html>
