<footer class="invisible mt-4 items-center justify-between md:visible md:flex">
  <p>
    contact me at <a class="italic" href="mailto:fitrapujo@gmail.com">fitrapujo@gmail.com</a>
  </p>
  <div class="social-media">
    <a href="https://github.com/NurfitraPujo"
      ><img src="/github.svg" alt="Nurfitra Pujo S github" /></a
    >
    <a href="https://www.linkedin.com/in/nurfitrapujo"
      ><img src="/linkedin.svg" alt="Nurfitra Pujo S linkedin" /></a
    >
    <a href="https://twitter.com/fitrapujo"
      ><img src="/twitter.svg" alt="Nurfitra Pujo S twitter" /></a
    >
  </div>
</footer>
