---
---

<nav class="main-nav hidden md:flex">
  <ul>
    <li><a class="active-link" href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li>
      <a href="https://blog.nurfitrapujo.com" target="_blank">BLOG</a>
    </li>
  </ul>
</nav>
