---
---

<nav class="mt-4 hidden main-nav  md:flex">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li>
      <a href="https://blog.nurfitrapujo.com" target="_blank">BLOG</a>
    </li>
  </ul>
</nav>
